@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
ul{
    padding-inline-start: 0;
}

li{
    list-style-type: none;
}
.list{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}
img{
    width: 120px;
    height: 50px;    
}
main h4{
        font-size: 16px;
        font-weight: bold;
}
/*.....créer class couleur....*/

.colorBleu{
    color: #0065fc;
}
.colorGris{
    color: #f2f2f2;
}

/*.....barre de navigation.....*/

.navigation-links{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.liencolor13{
    color: #0065fc;
}
.liencolor12{
    color: black;
}
.sizeLiens{
    width: 140px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.navigation-links li:hover{
    border-top: 3px solid #0065fc;
}
.navigation-links li:hover a {
    color: #0065fc;
}
.marginHebergements{
    margin-left: 55%;

}

/*.....barre de recherche.....*/

.formulaire{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}
.marginleft{
    margin-left: 20px;
}
.maps{
    color: black;
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Recherche{
    width: 230px;
    height: 50px;
    border: solid 1px #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 0 20px;
}
.bouton{
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    font-size: 18px;
    padding: 0 0;
}
.bouton:hover{
    cursor: pointer;
    background-color: turquoise;
}
.bold{
      font-weight: bold;
}

input{
    border: none;
}


/*.....filtre.....*/
.filtres{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.filtres h3{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.filters_ul{
    display: inline-flex;
    flex-flow: row wrap;
    padding-left: 0.7em;
    list-style-type: none;
}

.filtres ul li{
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    font-size: 19px;
    font-weight: 700;
    border: solid 3px #d9d9d9;
    height: 50px;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 100px;
}
.filtres ul li:hover{
    cursor: pointer;
    color:#0065fc;
}
.icon_filter{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    border-radius: 25px;
    width: 54px;
    height: 54px;
    color: #0065fc;
    background-color: #deebff;
}
.filtres ul li:hover> .icon_filter{
    color: white;
    background-color: #0065fc;

}


/*.....Icone information.....*/

.information{
    display: flex;
    align-items: center;
    
}
.containerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    margin-left: -2px;
    border-radius: 25px;
    margin-right: 5px;
    margin-left: 20px;
    
}
.iconInfo {
    color: #0065fc;
}
 

/*.....plocHebergements.....*/


.hotels{
    display: flex;
    width: 100%;
} 
.titreHebergements{
    padding-top: 15px;
    margin-left: 40px;
}
.blocHebergements{
    display: grid;
    background-color: #f2f2f2;
    height: 625px;  
    border-radius: 25px;
    min-width: 375px;
    width: auto;
    margin-left: 20px;
}
.blocHebergements_marseille{
    display: grid;
    width: 880px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-top: -15px;
    margin-left: 50px;
    padding-left: 10px;
}

.blocHebergements_marseille img{
     width: 240px;
     height: 115px;
     background-size: 100% 100%;
     border-radius: 15px 15px 0 0;
 } 

.cubeHebergement{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 200px;
    border: 1px solid transparent;
    background-color: white;
    box-shadow: 0px 4px 5px 0 #e2e2e2;
    border-radius: 20px;
    margin-left: -20px;
    padding: 1% 1% 3% 1%;   
}
.detailHebergements{
    line-height: 8px;
    padding-left: 15px;
}
.cubeHebergement:hover{
    cursor: pointer;;
    transform: scale(1.05);
    transition: 0.6s;
}
.show_more{
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 40px;
    margin-top: 0px;
    margin-bottom: 70px;
}


/*.....bloc populaires......*/


.titreIconePopulaire{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 15px;  
    margin-top: 20px; 
}

.blocPopulaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 25px;
    height: auto;                 /*....avant d'appliquer les média queries sa valeur est 625px....*/
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 2.4%;  
}
.blocPopulaire_marseille{
    margin-top: auto;
}
.imgPopulaire{
    width: 128px;
    height: 145px ;
    object-fit: cover;
    background-size: 100% 100%;
    border-radius: 15px 0 0 15px; 
}
.cubePopulaire{
    display: inline-flex;
    background-color: white;
    height: 145px;
    padding: 1.5%;
    border-radius: 20px;
    margin: 0 25px 25px 15px;   
}
.detailPopulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    line-height: 80%;
    padding-left: 20px;  
}
.cubePopulaire:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.6s;
}


/*...... Activités.....*/


.activites{
    width: 93%;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 20px;
}
.itemActivites:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.6s;
}
.activites h2{ 
    margin-top: 50px;
    margin-bottom: 30px;
}
.activites ul{
    display: grid;
    width: 99%;
    height: 500px;
    grid-template-columns: repeat(4, 25%);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 50px;
    margin-top: 8px;
    grid-template-areas: 
    "activites_1 activites_2 activites_4 activites_5"
    "activites_1 activites_3 activites_4 activites_6";
}
.activites_1{
    grid-area: activites_1;
}
.activites_2{
    grid-area: activites_2;
}
.activites_3{
    grid-area: activites_3;
}
.activites_4{
    grid-area: activites_4;
}
.activites_5{
    grid-area: activites_5;
}
.activites_6{
    grid-area: activites_6;
}
.activites .itemActivites{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 2px 2px 12px -5px rgb(179, 175, 175);
    margin: 0;
    padding: 0;
}
.imgActivites{
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
    margin: 0; 
    flex-grow: 4;
}
.titreActivites{
    width: 95%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 20px 0 20px 5%;
    margin: 0;
}


/*.....footer.....*/


#contenu-footer{
    width: 100%;
    height: 220px;
    margin-top: 20px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-footre{
    height: 150px;
}
.marginItems1{
    margin-left: 5%; 
}
.marginItems3{
    margin-right: 15%;
}
.interAlign{
    line-height: 150%;
}

/*.....Média Queries.....*/
@media screen and (max-width:1440px) {
    .container{
        display: block;
    }
    header, .descriptionHebergement{
        margin-left: 2%;
    }
    #logo{
        margin-left: -2%;
    }
    .hotels{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 3fr;
        row-gap: 3%;
        grid-template-areas:
        "blocPopulaires"
        "blocHebergements";
    }
    .blocHebergements{
        grid-area: blocHebergements;
    }
    .blocPopulaires{
        grid-area: blocPopulaires;
    }
    .blocPopulaires ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr;
    }
    .titreIconePopulaire{
        margin-right: 10%;
    }
    .cubePopulaire{
        height: 80%;
    }
    .cubePopulaire> .imgPopulaire{
        height: auto;
    }
    .blocPopulaires{
        display: grid;
        width: 95%;
        height: 100%;
        margin-top: 1.5%;
    }
    .titreIconePopulaire{
        margin-right: 30px;
    }
    .titrePopulaire{
        margin-left: 10px;
    } 
    .blocHebergements{
        width: 100%; 
    }
    .blocHebergements_marseille{
        width: 98%;
        justify-content: space-evenly;
        margin-left: 1.5%;
    }
    .cubeHebergement{
        display: flex;
        width: 80%;
        height: 175px;
        margin-left: 15px;
    }
    .cubeHebergement> .imgHebergements{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .activites{
        width: 100%;
        margin-top: -25rem;
        margin-bottom: 12%;
        padding-top: 5%;
    }
    .activites ul{
        display: grid;
        width: 105%;/* c'est normal ou pas*/
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "activites_1 activites_2 activites_4"
        "activites_5 activites_3 activites_6";
    }
    .activites .itemActivites{
        display: block;
        width: 90%;
        height: 240px;
    }
    .titreActivites{
        margin-left: 3%;
    }
    .activites_1{
        grid-area: activites_1;
    }
    
    .activites_3{
        grid-area: activites_3;
    }
    .activites_4{
        grid-area: activites_4;
    }
    .activites_5{
        grid-area: activites_5;
    }
    .activites_6{
        grid-area: activites_6;
    }
    .imgActivites{
        height: 180px;
    }
    .items-footre{
        padding-left: 5.5%;
    }
    #contenu-footer{
        margin-top: -3%;
    }
    
}

