@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;

}
ul{
    padding-inline-start: 0;
}

li{
    list-style-type: none;
}
.list{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}
img{
    width: 120px;
    height: 50px;    
}
/*....créer class couleur....*/ 
.colorBleu{
    color: #0065fc;
}
.colorGris{
    color: #f2f2f2;
}

/*....barre de navigation....*/

.navigation-links{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.liencolor13{
    color: #0065fc;
}
.liencolor12{
    color: black;
}
.sizeLiens{
    width: 140px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.traitHebergements{
    border-top: 1px solid #0065fc;
}
.marginHebergements{
    margin-left: 55%;

}

/*....barre de recherche....*/

.formulaire{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}
.marginleft{
    margin-left: 20px;
}
.maps{
    color: black;
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Recherche{
    width: 230px;
    height: 50px;
    border: solid 1px #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 0 20px;
}
.bouton{
    width: 120px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    font-size: 18px;
    padding: 0 0;
}

input{
    border: none;
}


/*filtre*/
.filtre{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 20px;
}
.marginfiltreTitre{
    margin-right: 20px;
}
.iconsTextF{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.iconsTextF:hover> .textF{
    color: #0065fc;
}
.iconsTextF:hover> .iconsF{
    color: white;
    background-color: #0065fc;
}


.iconsF{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}
 
.textF{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
/*Icone information*/
.information{
    display: flex;
    align-items: center;
    
}
.containerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    margin-left: 20px;
    
}
.iconInfo {
    color: #0065fc;
}
 

/*....hebergements création de deux blocs....*/

.hotels{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
} 
.blocHebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #f2f2f2;
    flex: 2;
    height: 670px;
    margin-right: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
 .blocPopulaires{
     background-color: #f2f2f2;
     flex: 1;
     height: 670px;
     margin-left: 20px;
     border-radius: 10px;    
}
     
 .imgHebergements{
     width: 100%;
     height: 120px;
     object-fit: cover;
     border-radius: 15px 15px 0 0;
 } 

.bloc1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.bloc2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.cubeHebergement{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 0.5%;
    border-radius: 20px;
}
/*.....bloc populaires......*/
.titreIconePopulaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blocPopulaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
     padding-right: 20px;

}

.imgPopulaire{
    width: 35%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;  
}
.cubePopulaire{
    display: flex;
    background-color: white;
    height: auto;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 20px;
}
.detailPopulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;   
}



/*...... Activités.....*/
.activites{
    height: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.blocActivites{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 3fr  0.3fr 0.3fr 0.3fr 3fr;
    column-gap: 20px;
    margin-bottom: 50px;

    
}
.itemActivites1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: white;
    height: auto;
    border-radius: 25px;

}
.imgActivites1{
    width: 100%;
    height: 500px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;   
}


.itemActivites2{
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end: span 2 ;
    background-color: white;
    height: auto;
}
.imgActivites2{
    width: 100%;
    height: 270px;
    border-radius: 25px 25px 0 0;   
}
.itemActivites3{ 
    grid-column-start:2 ;
    grid-column-end:3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solide #f2f2f2;
    background-color: white;
    height: auto;
}
.imgActivites3{
    width: 100%;
    height: 170px; 
    border-radius: 25px 25px 0 0;    
}

.itemActivites4{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: white;
    height: auto;
}
.imgActivites4{
    width: 100%;
    height: 500px;
    border-radius: 25px 25px 0 0;   
}

.itemActivites5{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    height: auto;
}
.imgActivites5{
    width: 100%;
    height: 150px;
    border-radius: 25px 25px 0 0; 
}

.itemActivites6{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: white;
    height: auto;
}
.imgActivites6{
    width: 100%;
    height: 270px;
    border-radius: 25px 25px 0 0; 
}


/*........footer..........*/
#contenu-footer{
    height: 220px;
    margin-top: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-footre{
    height: 150px;
}
.marginItems1{
    margin-left: 5%; 
}
.marginItems3{
    margin-right: 15%;
}
.interAlign{
    line-height: 150%;
}

